<!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a> -->

<!-- <div *ngFor="let singleUser of users" >
    <div style="white-space: nowrap" *ngIf="singleUser.username===user.username">
        <h1>{{user.firstName}}'s Account</h1>
        <a routerLink="edit/{{singleUser._id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
        <button (click)="deleteUser(singleUser._id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="singleUser.isDeleting">
            <span *ngIf="singleUser.isDeleting" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!singleUser.isDeleting">Delete</span>
        </button>
    </div>
</div> -->
<br>
<h1>Users</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th>
            <th style="width: 30%">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let singleUser of users">
            <td>{{singleUser.firstName}}</td>
            <td>{{singleUser.lastName}}</td>
            <td>{{singleUser.username}}</td>
<!-- 
            <td style="white-space: nowrap" *ngIf="singleUser.username===user.username">
                <a routerLink="edit/{{singleUser._id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(singleUser._id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="singleUser.isDeleting">
                    <span *ngIf="singleUser.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!singleUser.isDeleting">Delete</span>
                </button>
            </td> -->
            
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>

    
</table>
<div>
    <p><a routerLink="/users">Back</a></p>
    
    <!-- <p><a routerLink="/todo">Home</a></p> -->

</div>